In [52]:
import pandas as pd

In [53]:
df = pd.read_csv("user_log_format1.csv")
print(df.shape)
df = df[df['item_id'].isin(range(481, 640+1))]

(54925330, 7)

In [54]:
df.sort_values('item_id')

,user_id,item_id,cat_id,seller_id,brand_id,time_stamp,action_type
41285064,84527,481,1331,318,4275.0,1005,0
23944557,417991,481,1331,318,4275.0,1008,0
23944670,417991,481,1331,318,4275.0,1012,0
24167652,288638,481,1331,318,4275.0,1009,0
6293884,20577,481,1331,318,4275.0,1110,0
...,...,...,...,...,...,...,...
33676891,43440,640,612,2246,394.0,925,0
9212183,363564,640,612,2246,394.0,918,0
51781467,232711,640,612,2246,394.0,1111,0
6134987,84505,640,612,2246,394.0,1111,0
38636664,16102,640,612,2246,394.0,1110,0

In [71]:
unique_users = df['user_id'].unique()

In [72]:
df1 = pd.read_csv("user_info_format1.csv")
#df1 = df1[df1['user_id'].isin(unique_users)]

In [73]:
df1

        user_id  age_range  gender
0        376517        6.0     1.0
1        234512        5.0     0.0
2        344532        5.0     0.0
3        186135        5.0     0.0
4         30230        5.0     0.0
...         ...        ...     ...
424165   395814        3.0     1.0
424166   245950        0.0     1.0
424167   208016        NaN     NaN
424168   272535        6.0     1.0
424169    18031        3.0     1.0

[424170 rows x 3 columns]

In [74]:
expanded = pd.merge(df, df1, on='user_id')
print(expanded.shape)
expanded.isnull().any()

(7254, 9)

user_id        False
item_id        False
cat_id         False
seller_id      False
brand_id        True
time_stamp     False
action_type    False
age_range       True
gender          True
dtype: bool

In [75]:
# Remove rows with any nulls
expanded = expanded[expanded.notnull().all(axis=1)]
print(expanded.shape)
expanded.isnull().any()

(7185, 9)

user_id        False
item_id        False
cat_id         False
seller_id      False
brand_id       False
time_stamp     False
action_type    False
age_range      False
gender         False
dtype: bool

In [76]:
df2 = pd.read_csv("train_format1.csv")
#df2 = df2[df2['user_id'].isin(unique_users)]

In [77]:
df2

        user_id  merchant_id  label
0         34176         3906      0
1         34176          121      0
2         34176         4356      1
3         34176         2217      0
4        230784         4818      0
...         ...          ...    ...
260859   359807         4325      0
260860   294527         3971      0
260861   294527          152      0
260862   294527         2537      0
260863   229247         4140      0

[260864 rows x 3 columns]

In [78]:
expanded2 = pd.merge(expanded, df2, on='user_id')
print(expanded2.shape)
expanded2.isnull().any()

(5064, 11)

user_id        False
item_id        False
cat_id         False
seller_id      False
brand_id       False
time_stamp     False
action_type    False
age_range      False
gender         False
merchant_id    False
label          False
dtype: bool

In [79]:
expanded2

,user_id,item_id,cat_id,seller_id,brand_id,time_stamp,action_type,age_range,gender,merchant_id,label
0,69247,568,683,270,397.0,1110,0,4.0,1.0,1999,0
1,69247,568,683,270,397.0,1110,0,4.0,1.0,2954,0
2,327584,489,420,3845,3156.0,708,0,4.0,0.0,2397,0
3,91170,640,612,2246,394.0,1111,0,5.0,0.0,1742,0
4,290029,495,464,4535,1720.0,1008,2,4.0,1.0,4585,0
...,...,...,...,...,...,...,...,...,...,...,...
5059,280765,496,267,2115,6973.0,1101,0,0.0,0.0,4765,0
5060,280765,496,267,2115,6973.0,1101,0,0.0,0.0,4765,0
5061,87449,504,1213,2264,3275.0,1015,0,0.0,1.0,1816,0
5062,87449,504,1213,2264,3275.0,1015,0,0.0,1.0,4518,0
5063,75316,496,267,2115,6973.0,1110,0,3.0,0.0,2786,0

In [89]:
# df3 = pd.read_csv("test_format1.csv")
# df3 = df3[df3['user_id'].isin(unique_users)]
# df4 = pd.read_csv("train_format2.csv")
# df4 = df4[df4['user_id'].isin(unique_users)]
# df5 = pd.read_csv("test_format2.csv")
# df5 = df5[df5['user_id'].isin(unique_users)]

In [100]:
from sklearn.decomposition import PCA
pca = PCA(n_components=3)
pca.fit(expanded2[['action_type', 'age_range', 'gender']])
[f"{_:.4f}" for _ in pca.explained_variance_ratio_]

['0.7561', '0.1560', '0.0879']

In [91]:
expanded3 = pd.get_dummies(expanded2, columns=['action_type', 'age_range'])
expanded3

,user_id,item_id,cat_id,seller_id,brand_id,time_stamp,gender,merchant_id,label,action_type_0,action_type_2,action_type_3,age_range_0.0,age_range_2.0,age_range_3.0,age_range_4.0,age_range_5.0,age_range_6.0,age_range_7.0,age_range_8.0
0,69247,568,683,270,397.0,1110,1.0,1999,0,1,0,0,0,0,0,1,0,0,0,0
1,69247,568,683,270,397.0,1110,1.0,2954,0,1,0,0,0,0,0,1,0,0,0,0
2,327584,489,420,3845,3156.0,708,0.0,2397,0,1,0,0,0,0,0,1,0,0,0,0
3,91170,640,612,2246,394.0,1111,0.0,1742,0,1,0,0,0,0,0,0,1,0,0,0
4,290029,495,464,4535,1720.0,1008,1.0,4585,0,0,1,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5059,280765,496,267,2115,6973.0,1101,0.0,4765,0,1,0,0,1,0,0,0,0,0,0,0
5060,280765,496,267,2115,6973.0,1101,0.0,4765,0,1,0,0,1,0,0,0,0,0,0,0
5061,87449,504,1213,2264,3275.0,1015,1.0,1816,0,1,0,0,1,0,0,0,0,0,0,0
5062,87449,504,1213,2264,3275.0,1015,1.0,4518,0,1,0,0,1,0,0,0,0,0,0,0
5063,75316,496,267,2115,6973.0,1110,0.0,2786,0,1,0,0,0,0,1,0,0,0,0,0

In [98]:
pca = PCA(n_components=4)
pca.fit(expanded3[['action_type_0', 'action_type_2', 'action_type_3', 'age_range_0.0', 'age_range_2.0', 'age_range_3.0', 'age_range_4.0', 'age_range_5.0', 'age_range_6.0', 'age_range_7.0', 'age_range_8.0', 'gender']])
[f"{_:.4f}" for _ in pca.explained_variance_ratio_]  # 4 components covers

['0.2808', '0.1980', '0.1429', '0.1303']